extends layout

block content
	.inner
		h3 Get in Touch
		.contactContainer
			.contactWriting
				p <strong>Phone: </strong> 
					a(href="tel:01256 331334") 01256 331334
				p <strong>Email: </strong>
					a(href="mailto:mwmetalworks@btconnect.com") mwmetalworks@btconnect.com
				p <strong>Address:</strong></br>
					a(href="https://goo.gl/maps/5PRKCc79k4S2") Unit 3 Devonshire Business Park,</br>Knights Park Road,</br>Basingstoke,</br>RG21 6XN
				.formContainer
					form.form(action="/contact" method="POST")
						p <strong>Contact Form:</strong>
						input.form__name(type="text" name="name" placeholder="Name")
						input.form__email(type="text" name="email" placeholder="Email")
						input.form__subject(type="text" name="subject" placeholder="Subject")
						textarea.form__message(name="message" placeholder="Message")
						input.form__button(type="submit" value="Send")
			.mapContainer
				img.map(src=h.staticMap)