extends layout

block content
	.inner
		.index__text
			p Established in 1994, we are a sheet metal work company specializing in the supply and installation of various types of ductwork systems to a range of establishments mainly in London and the South East of England.
			p Clients include hospitals, universities, schools, offices etc. In the last 10 years we have undertaken high specification installations in large private dwellings in Park Lane, Kensington, Chelsea and St George's Hill in Weybridge.
		.index__subs
			h4 High Quality Materials, Highly Skilled Workers, A Range of Production
		.index_picture
			.owl-carousel.owl-theme
				each photo in photos
					.photo__image
						a(href=`/supply/${photo.slug}`)
							img.square(src=`/uploads/${photo.photo || 'weight.jpg'}`)
			//- .index__overlay
			//- 	.index__overlay--text
			//- 		h4 High Quality Materials
			//- 		hr
			//- 		h4 Highly Skilled Workers
			//- 		hr
			//- 		h4 A Range of Production
