extends layout

block content
	.inner
		.index__text
			p Established in 1994, we are a sheet metal work company specializing in the supply and installation of various types of ductwork systems to a range of establishments mainly in London and the South East of England.
			p Clients include hospitals, universities, schools, offices etc. In the last 10 years we have undertaken high specification installations in large private dwellings in Park Lane, Kensington, Chelsea and St George's Hill in Weybridge.
		.index_picture
			.owl-carousel.owl-theme
				img.square.square1(src="https://placebear.com/350/385")
				img.square.square2(src="https://placebear.com/350/390")
				img.square.square3(src="https://placebear.com/350/380")
				img.square.square4(src="https://placebear.com/350/384")
				img.square.square5(src="https://placebear.com/350/383")
				img.square.square6(src="https://placebear.com/350/382")
				img.square.square7(src="https://placebear.com/350/381")
			//- .index__overlay
			//- 	.index__overlay--text
			//- 		h4 High Quality Materials
			//- 		hr
			//- 		h4 Highly Skilled Workers
			//- 		hr
			//- 		h4 A Range of Production
