extends layout

block content
	.inner
		//- h2= title
		p MW Metalworks Ltd. Established in 1994. We are a Sheet Metal Work company specializing in the supply and installation of various types of ductwork systems to a range of establishments mainly in London and the South East of England.
		p These include; Hospitals, Universities, Schools, Offices etc. In the last 10 years we have undertaken high specification installations in large private dwellings in Park Lane, Kensington, Chelsea & St Georges hill in Weybridge.
