extends layout

block content
	script.
		$(document).ready(function(){
			const owl = $(".owl-carousel");
			owl.owlCarousel({
				item: 7,
				loop: true,
				autoplay: true,
				autoplayTimeout:1500,
				autoplayHoverPause: true
			});
		});
	.inner
		h2= title
		.owl-carousel
			img.square.square1(src="https://placebear.com/320/200")
			img.square.square2(src="https://placebear.com/320/200")
			img.square.square3(src="https://placebear.com/320/200")
			img.square.square4(src="https://placebear.com/320/200")
			img.square.square5(src="https://placebear.com/320/200")
			img.square.square6(src="https://placebear.com/320/200")
			img.square.square7(src="https://placebear.com/320/200")