extends layout

block content
	.single
		.single__hero
			a(href="javascript:history.back()")
				img.single__image(src=`/uploads/${photo.photo || 'weight.jpg'}`, alt="Supply photo")
			h3.title.title--single #{photo.name}
			.single__details
				span.caption #{photo.caption}
