extends layout

include mixins/_photoCard

block content
	.inner
		h3= title
		h4 Galvanized Ductwork
		.photos.grid
			.grid-sizer
			each photo in galvanized
				+photoCard(photo)
		h4 Ductwork in other materials
		p.info Fully Welded Aluminium Ductwork under Construction in Leamington
		.photos.grid
			.grid-sizer
			each photo in otherDuct
				+photoCard(photo)