// .header__top {
// 	background-color: #f9f9f8;
// 	display: flex;
// 	flex-wrap: wrap;
// 	// align-items: center;
// 	&--info,
// 	&--logo {
// 		margin: 5px;
// 	}
// }

// .name {
// 	margin-bottom: 0px;
// }

.logo {
	height: 90px;
	width: 90px;

}


// .contacts {
// 	display: flex;
// 	justify-content: space-between;
// }

// .contacts a:hover {
// 	color: #3588CC;	
// }

@media all and (max-width: 560px) {
	.logo {
		height: 54px;
		width: 54px;
	}
}

