.top__images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.services__image {
	margin: 10px;
	background: white;
	&--text {
		margin: 0px;
		padding: 5px;
	}
}
.services__picture {
	height: 152px;
}

.bottom__text li {
	padding: 5px;
	font-size: 16px;
}
